{
  "openapi": "3.0.0",
  "info": {
    "title": "API documentation for 48346_allerq",
    "version": "1.0.0",
    "description": "API documentation for 48346_allerq"
  },
  "servers": [
    {
      "url": "https://openapi.nocodebackend.com"
    }
  ],
  "paths": {
    "/create/analytics?Instance=48346_allerq": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Create a new record in analytics",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurant_id": {
                    "type": "integer"
                  },
                  "menu_id": {
                    "type": "integer"
                  },
                  "event_type": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "integer"
                  },
                  "user_agent": {
                    "type": "string"
                  },
                  "ip_addresss": {
                    "type": "string"
                  },
                  "referrer": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "integer"
                  },
                  "updated_at": {
                    "type": "integer"
                  },
                  "external_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created the record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Record created successfully"
                    },
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created record"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/read/analytics?Instance=48346_allerq": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Retrieve all records from analytics",
        "description": "**Filtering Records**\n\n                You can filter results by query parameters that match field names, with optional operator suffixes for advanced filtering.\n\n                | Operator       | Example                       | Meaning                        |\n                |----------------|------------------------------|-------------------------------|\n                | `field`        | `?status=active`             | Equal (default)               |\n                | `field[ne]`    | `?status[ne]=inactive`       | Not equal                     |\n                | `field[gt]`    | `?price[gt]=100`             | Greater than                  |\n                | `field[gte]`   | `?date[gte]=2024-05-01`      | Greater than or equal         |\n                | `field[lt]`    | `?score[lt]=500`             | Less than                     |\n                | `field[lte]`   | `?score[lte]=800`            | Less than or equal            |\n                | `field[in]`    | `?type[in]=a,b,c`            | In list (comma-separated)     |\n                | `field[like]`  | `?name[like]=john`           | Partial match                 |\n\n                **Examples:**  \n                - `?price[gte]=100&price[lte]=200` (price between 100 and 200)  \n                - `?name[like]=john` (name contains \"john\")  \n                - `?status=active` (status is active)",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of records per page."
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "restaurant_id": {
                            "type": "integer"
                          },
                          "menu_id": {
                            "type": "integer"
                          },
                          "event_type": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "integer"
                          },
                          "user_agent": {
                            "type": "string"
                          },
                          "ip_addresss": {
                            "type": "string"
                          },
                          "referrer": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "integer"
                          },
                          "updated_at": {
                            "type": "integer"
                          },
                          "external_id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/read/analytics/{id}?Instance=48346_allerq": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Retrieve a record by ID from analytics",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the record to retrieve"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "restaurant_id": {
                          "type": "integer"
                        },
                        "menu_id": {
                          "type": "integer"
                        },
                        "event_type": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "integer"
                        },
                        "user_agent": {
                          "type": "string"
                        },
                        "ip_addresss": {
                          "type": "string"
                        },
                        "referrer": {
                          "type": "string"
                        },
                        "metadata": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "integer"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "external_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Record Not Found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/search/analytics?Instance=48346_allerq": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Search for records in analytics",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurant_id": {
                    "type": "integer"
                  },
                  "menu_id": {
                    "type": "integer"
                  },
                  "event_type": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "integer"
                  },
                  "user_agent": {
                    "type": "string"
                  },
                  "ip_addresss": {
                    "type": "string"
                  },
                  "referrer": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "integer"
                  },
                  "updated_at": {
                    "type": "integer"
                  },
                  "external_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved matching records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "restaurant_id": {
                            "type": "integer"
                          },
                          "menu_id": {
                            "type": "integer"
                          },
                          "event_type": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "integer"
                          },
                          "user_agent": {
                            "type": "string"
                          },
                          "ip_addresss": {
                            "type": "string"
                          },
                          "referrer": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "integer"
                          },
                          "updated_at": {
                            "type": "integer"
                          },
                          "external_id": {
                            "type": "string"
                          }
